streamlit
pandas
numpy
scikit-learn
scipy
joblib
plotly
matplotlib
seaborn
openpyxl
python-dotenv
firebase-admin
groq
reportlab
imbalanced-learn
shap
xgboost
lightgbm
catboost
torch
pytorch-tabnet
langchain
